<h1>10 Nearest Stations</h1>

<ul class="station">
  <%= @station_search.stations.each do |station| %>
  <li class="name"></li>
  <li class="address"></li>
  <li class="fuel_type"></li>
  <li class="distance"></li>
  <li class="access_time"></li>
</ul>
